@*
    /****************************************************************************************
    *
    * Kyle Nally
    * CIS237 T/Th 3:30pm Assignment 6 - Beverage web application using ASP.NET MVC
    * 12/11/2018
    *
    * This is the Error page for the web app. If the user entered something invalid, they
    * will see this page.
    *
    *****************************************************************************************/
*@

@model cis237_assignment6.Models.Beverage

@{
    ViewBag.Title = "Error";
    ViewBag.Message = "Invalid entries have been detected.";
}

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>
<p>One of the entries seems to have contained something that wasn't valid.</p>
<br />
<p>
    Did you enter a duplicate ID when you were adding a beverage?
    We don't know.
    <br/>
    Did you leave a field blank?
    We don't know.
    <br/>
    Did you type a letter in your price?
    We don't know.
    <br/>
    ALL we know is that you were wrong.
    <b>Don't be wrong.</b>
    <br/>
    Please @Html.ActionLink("go back", "Index", "Beverages") and reenter the required information.
</p>
