@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    3018 Lowell St<br />
    Kalamazoo, MI 49001<br />
    <abbr title="Phone">P:</abbr>
    269.599.0731
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kylegnally@gmail.com">kylegnally@gmail.com</a><br />
</address>