@{
    ViewBag.Title = "BeverageDB";
}

<div class="jumbotron">
    <h1>Welcome to BeverageDB!</h1>
    @if (Request.IsAuthenticated)
    {
        <p>It looks like you're logged in. Click the Beverages link on the navigation bar above to get started with BeverageDB!</p>
    }
    @if (!Request.IsAuthenticated)
    {
    <p class="lead">Before attempting to use this site, please register if you haven't already done so.</p>
    <p>If you're already registered you must log in before you can use the database.</p>
    }
    
</div>

